@{
    ViewData["Title"] = "Access Denied";
}


<head>
    @await Html.PartialAsync("_Imports")
</head>

<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">Access Denied</h1>
            <p class="lead">You do not have permission to view this page.</p>
            <a href="@Url.Action("Index", "Car")" class="btn btn-primary">Return to Cars</a>
        </div>
    </div>
</body>