@model CarSales.Models.Identity.IdentityUserModel;

@{
     ViewData["Title"] = "Login";
}


<head>

    @await Html.PartialAsync("_Imports")

    <link rel="stylesheet" href="~/css/login.css" />
    <script src="~/js/login.js"></script>

</head>

<body>
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>

        <div class="form">
            @await Html.PartialAsync("_ShowErrors")
            <div class="row">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" id="Email" required />
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" id="Password" required />
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="RememberMe">
                <label class="form-check-label" for="RememberMe">Remember Me?</label>
            </div>
            <div class="row button">
                <input type="button" onclick="login()" value="Login" />
            </div>
            <div class="signup-link">Don't have an account? <a href="/register">Register now</a></div>
        </div>
    </div>
</body>