@model CarSales.Models.Identity.IdentityUserModel;

@{
    ViewData["Title"] = "Login";
}


<head>

    @await Html.PartialAsync("_Imports")


</head>

<body>

    <div class="container login-container d-flex align-items-center justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm p-4">
                <h3 class="text-center m-4">Login</h3>

                @await Html.PartialAsync("_ShowError")

                <div class="form-group m-2">
                    <label for="Email" class="form-label">Email address</label>

                    <div class="input-group">
                        <i class="bi bi-envelope-at-fill input-group-text"></i>
                        <input type="email" class="form-control" id="Email" placeholder="john@email.com">
                    </div>
                </div>

                <div class="form-group m-2">
                    <label for="Password" class="form-label">Password</label>
                    <div class="input-group">
                        <i class="bi bi-lock-fill input-group-text"></i>
                        <input type="password" class="form-control" id="Password" placeholder="Password">
                        <i class="bi bi-eye input-group-text" id="togglePassword" style="cursor: pointer;"></i>
                    </div>
                </div>

                <div class="form-group form-check m-2">
                    <input type="checkbox" id="RememberMe" class="form-check-input">
                    <label for="RememberMe" class="form-check-label">Remember me</label>
                </div>

                <button class="btn btn-primary btn-block" onclick="login()">Login</button>

                <div class="text-center mt-3">
                    Don't have an account?
                    <a href="/register">Register</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/login.js"></script>
</body>
